<!--

<div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
</div>
-->


<section class="sectprofil pt-5 pb-5 " *ngIf='!( currentUser.username == "" )' >
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="../../assets/images/prof1.jpg"
                class="rounded-circle img-fluid" style="width: 120px;" />
            </div>
            <p class="text-muted mb-4">Name : <strong>{{currentUser.username}}</strong> </p>
            <p class="text-muted mb-4">Email : <span class="mx-2"></span>   <strong>{{ currentUser.email }}</strong></p>
            <p class="text-muted mb-4">Role : <span class="mx-2"></span>       
              <a *ngFor="let role of currentUser.roles"><strong>{{ role }}</strong></a></p>
            <button type="button" class="btn btn-outline-primary btn-rounded btn-md mb-5">
              <a ></a>Manage My Profile
            </button>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="sectprofil" style="height: 10px;">
  <ng-template #loggedOut>
    Please login.
  </ng-template>
</section>
