<!--
<section class="sectevents">
    <form class="submit-form row g-3" (ngSubmit)="updateEvent()" name="form" >
        <div (submit)="updateEvent()" class="container text-center">
            <div class="row justify-content-center">
                <h2>Update An Event</h2>
                <div class="row justify-content-center">
                -->
                    <!--
                     <div class="form-group col-3 align-item-center m-2">
                        <label for="event_name" class="form-label">Event Name</label>
                        <input type="text" class="form-control " [(ngModel)]="updatedEvent.event_name" name="event_name" required>
                      </div>
-->
<!--
                      <div class="form-group col-3 align-item-center m-2">
                        <label for="event_artist" class="form-label">Event Artist</label>
                        <input type="text" class="form-control "  [(ngModel)]="updatedEvent.event_artist" name="event_artist"  required>
                      </div>
                </div>
                <div class="row justify-content-center">
                    <div class=" form-group col-3 align-item-center m-2">
                        <label for="event_duration" class="form-label">Event duration</label>
                        <input type="number" class="form-control " [(ngModel)]="updatedEvent.event_duration" name="event_duration"  min="0" max="180" required>
                      </div>
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_start" class="form-label">event start</label>
                        <input type="string" class="form-control " [(ngModel)]="updatedEvent.event_start" name="event_start"  value="" required>
                      </div>
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_end" class="form-label">event_end</label>
                        <input type="string" class="form-control " [(ngModel)]="updatedEvent.event_end" name="event_end"  value="" required>
                      </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_location" class="form-label">event location</label>
                        <select class="form-select" [(ngModel)]="updatedEvent.event_location" name="event_location"  aria-label="Default select example">
                            <option value="101" selected>Room One</option>
                            <option value="102">Room Two</option>
                            <option value="103">Room Three</option>
                          </select>
                        
                      </div>
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_category" class="form-label">event_category</label>
                        <select class="form-select" [(ngModel)]="updatedEvent.event_category" name="event_category"   aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="Movie">Movie</option>
                            <option value="Concert">Concert</option>
                            <option value="Theathre">Theathre</option>
                          </select>
                      </div>
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_rating" class="form-label">event_rating : 0 -> 5 </label>
                        <input class="form-control " [(ngModel)]="updatedEvent.event_rating" name="event_rating"  type="number" min="0" max="5" required>
                      </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_description" class="form-label">event_description</label>
                        <input type="text" class="form-control "  value="" [(ngModel)]="updatedEvent.event_description" name="event_description"  required>
                    </div>
-->
                           <!--
                          <div class="form-group col-3 align-item-center m-2">
                            <label for="formFile" class="form-label">event_picture</label>
                            <input class="form-control" accept="image/*" type="file" [(ngModel)]="event.event_picture" name="event_picture"  id="formFile">
                            <img id="formFile"  src="/assets/gallery/{{event.event_picture}}"  style="max-width: 300px; max-height: 300px;">
                          </div>
                         

                          <div class="form-group col-3 align-item-center m-2">
                          <label for="formFile" class="form-label">event_picture</label>
                          <input class="form-control" accept="image/*" type="file"  name="event_picture"  [(ngModel)]="updatedEvent.event_picture"  id="imageInput" >
                          <img id="previewImage" src="/assets/gallery/event.event_picture"  style="max-width: 300px; max-height: 300px;">
                          </div>

   -->
      <!--                  
                          <div class="form-group col-3 align-item-center m-2">
                            <label for="formFile" class="form-label">event_picture</label>
                            <input class="form-control" accept="image/*" type="file" name="event_picture" [(ngModel)]="updatedEvent.event_picture" id="imageInput">
                            <img id="previewImage" [src]="'/assets/gallery/'+updatedEvent.event_picture"  style="max-width: 300px; max-height: 300px;">
                          </div>

                    <div class="form-group col-3 align-item-center m-2">
                        <label for="event_rating" class="form-label">event_status</label>      
                        <select class="form-select" [(ngModel)]="updatedEvent.event_status" name="event_status"  aria-label="Default select example" >
                            <option value="pending">Pending</option>
                          </select>
                      </div>
                </div>
          
                  <div class="col-12 m-5 ">
                    <button class="btn btn-primary px-5" type="submit">Update</button>
                  </div>
              </div>
          </div>
        
    </form>
</section>
-->  
<section class="sectevents py-5" *ngIf="!submitted" >
  <form class="submit-form  g-3" (ngSubmit)="updateEvent()" name="form">
  <div (submit)="updateEvent()" class="container px-4 px-lg-5 my-5" >
      <div class="row gx-4 gx-lg-5 align-items-center">


          <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src='/assets/gallery/{{updatedEvent.event_picture}}' alt=""  id="previewImage"/>
            <label for="image-Input" class="form-label">Upload A Picture For The Event</label>
            <input class="form-control" accept="image/jpeg, image/png, image/jpg" type="file"  name="event_picture"  [(ngModel)]="updatedEvent.event_picture"  id="imageInput" >
          </div>
          <div class="col-md-6">
            <h2 class="display-5 text-center fw-bolder mb-5">Update An Event</h2>

            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_start" class="form-label">Artist</label>
                      <input type="text" class="form-control "  [(ngModel)]="updatedEvent.event_artist" placeholder="Event Artist" name="event_artist"  required>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-4">
                <div class="col-4">
                  <div class="p-1">
                    <div class=" form-group col align-item-center m-1">
                      <label for="event_start" class="form-label">Duration </label>
                      <input type="number" class="form-control " [(ngModel)]="updatedEvent.event_duration" placeholder="Duration min" name="event_duration"  min="0" max="180" required>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-1">
                      <label for="event_start" class="form-label">Start At</label>
                      <input type="string" class="form-control " [(ngModel)]="updatedEvent.event_start" placeholder="Start hh:mm" name="event_start"  value="" required>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-1">
                      <label for="event_start" class="form-label">End At</label>
                      <input type="string" class="form-control " [(ngModel)]="updatedEvent.event_end" placeholder="End  hh:mm" name="event_end"  value="" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_start" class="form-label">Location</label>
                      <select class="form-select" [(ngModel)]="updatedEvent.event_location" name="event_location"  aria-label="Default select example">
                          <option value="" selected>Select A Location</option>
                          <option value="101">Room One</option>
                          <option value="102">Room Two</option>
                          <option value="103">Room Three</option>
                        </select>              
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_start" class="form-label">Category</label>
                      <select class="form-select" [(ngModel)]="updatedEvent.event_category" name="event_category"   aria-label="Default select example">
                          <option value="" selected>Select A Category</option>
                          <option value="Movie">Movie</option>
                          <option value="Concert">Concert</option>
                          <option value="Theathre">Theathre</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_start" class="form-label">Rating</label>
                      <input class="form-control " [(ngModel)]="updatedEvent.event_rating" name="event_rating" placeholder="Rating" type="number" min="0" max="5" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_start" class="form-label">Description</label>
                      <input type="text" class="form-control "  value="" [(ngModel)]="updatedEvent.event_description" placeholder="Description" name="event_description"  required>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container my-3 overflow-hidden text-center" hidden>
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <label for="event_rating" class="form-label">Status </label>      
                      <select class="form-select" [(ngModel)]="updatedEvent.event_status" name="event_status"  aria-label="Default select example" >
                          <option value="pending">Pending</option>
                        </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <button class="btn btn-outline-primary flex-shrink-0 px-5"   type="submit">         
                        Update
                    </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
              

    
          </div>
      </div>
  </div>
</form>
</section>

<section class="sectevents py-5" *ngIf="submitted">

  <div class="container px-4 px-lg-5 my-5" >
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src="../assets/gallery/default.jpg" alt="..." id="profile-pic"/>
          </div>
          <div class="col-md-6">
            <h2 class="display-5 fw-bolder mb-5 text-center">Update An Event</h2>
        

            <div class="container my-3 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="p-1">
                    <div class="form-group col align-item-center m-2">
                      <div class="alert alert-success" >
                        <h6>Congratulation !!!<br> You successfully Update An Event</h6>
                      </div>           
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="container my-5 overflow-hidden text-center">
              <div class="row gy-5">
                <div class="col">
                  <div class="py-4">
                    <div class="form-group col align-item-center mt-4">
                      <button class="btn btn-outline-primary flex-shrink-0" routerLink="../event-list" href="../events" >         
                        Go Back To The Event List
                    </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
              

    
          </div>
      </div>
  </div>

</section>

<script>
  document.getElementById('imageInput').addEventListener('change', function (event) {
    const fileInput = event.target;
    const previewImage = document.getElementById('previewImage');

    const file = fileInput.files[0];

    if (file) {
      const reader = new FileReader();

      reader.onload = function (e) {
        // Display the image preview
        previewImage.src = e.target.result;
      };

      // Read the image as a data URL
      reader.readAsDataURL(file);
    }
  });
</script>

<script>
  let profilePic = document.getElementById("profile-pic");
  let imageInput = document.getElementById("imageInput");

  imageInput.onchange = function(){
    let fileName = imageInput.value.split("\\").pop();
    profilePic.src = "/assets/gallery/" + fileName;
  }
</script>

<script>
  function handleFileChange(input) {
    const fileName = input.value.split('\\').pop();
    document.getElementById('formFile').innerText = 'File Name: ' + fileName;
  }
</script>

<script>
  document.getElementById('imageInput').addEventListener('change', function (event) {
      const fileInput = event.target;
      const previewImage = document.getElementById('previewImage');

      const file = fileInput.files[0];

      if (file) {
          const reader = new FileReader();

          reader.onload = function (e) {
              previewImage.src = e.target.result;
          };

          reader.readAsDataURL(file);
      }
  });
</script>